<ion-view view-title="Details">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon" ng-click="test()">
        <i class="icon ion-star"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="list">
			<div ng-repeat="leg in route[0].legs">
				<div ng-show="$first" class="item item-divider">
					<div class="bold align-left">
						{{leg.locs[0].arrTime.substring(8,10)}}:{{leg.locs[0].arrTime.substring(10,12)}}
					</div>
					<div class="indent-4">
						{{from}}
					</div>
				</div>
				<div class="item item-divider" ng-hide="leg.locs[0].name === null">
					<div class="bold align-left">
						{{leg.locs[0].arrTime.substring(8,10)}}:{{leg.locs[0].arrTime.substring(10,12)}}
					</div>
					<div class="indent-4">
						{{leg.locs[0].name}}
					</div>
				</div>
				<div class="item">
					<div class="align-left">
						<div ng-hide="(leg.duration / 3600) < 1">
							{{floatToInt(leg.duration / 3600)}} h 
						</div>
						<div>
							{{floatToInt((leg.duration / 60) % 60)}} min
						</div>
					</div>
					<div class="indent-4 align-left">
						<i class="icon {{transformIcon(leg.type)}} big-icon"></i>
					</div>
					<div class="indent-detail">
						{{legDetails(leg)}}
					</div>
				</div>
				<div ng-show="$last" class="item item-divider">
					<div class="bold align-left">
						{{leg.locs[leg.locs.length - 1].arrTime.substring(8,10)}}:{{leg.locs[leg.locs.length - 1].arrTime.substring(10,12)}}
					</div>
					<div class="indent-4">
						{{to}}
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
