<ion-view view-title="Home">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon" ng-click="applyFrom(); applyTo(); applyVia()">
        <i class="icon ion-close"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="list card">
			<div class="item row">
				<div class="col col-10 col-center">
					<a href="" class="button button-clear button-dark icon-left {{viaExpandBtn}}" ng-click="toggleVia()">
						<!-- <i class="icon ion-plus small"></i> -->
					</a>
				</div>
				<div class="col col-75 col-center">
					<form>
						<label class="item item-input" ng-click="openModal('Choose a starting point', applyFrom)">
							<span ng-hide="from">From</span>{{from}}
						</label>
						<label class="item item-input" ng-click="openModal('Choose a via point', applyVia)" ng-show="viaExpand">
							<span ng-hide="via">Via</span>{{via}}
						</label>
						<label class="item item-input" ng-click="openModal('Choose an ending point', applyTo)">
							<span ng-hide="to">To</span>{{to}}
						</label>
					</form>
				</div>
				<div class="col col-10 col-center">
					<a href="" class="button button-clear button-dark icon-left ion-shuffle" ng-click="swapFromTo()">
						<!-- <i class="icon ion-shuffle small"></i> -->
					</a>
				</div>
			</div>
			<div>
				<a href="" class="align-left button button-clear button-dark icon-left ion-calendar" ng-model="date">24.7.2015 16:29</a>
				<a href="" class="align-right button button-clear button-dark icon-left ion-android-options" ng-model="date"></a>
			</div>
		</div>
		
		<div class="list card" ng-hide="from && to">
			<a href="" class="item item-icon-left" ng-repeat="favorite in favoriteRoutes" ng-click="applyFrom(favorite.from); applyTo(favorite.to)">
				<i class="icon ion-ios-star"></i>
				<h2>{{favorite.from}} - {{favorite.to}}</h2>
				<p>{{favorite.via}}</p>
			</a>
		</div>
		<div class="list card" ng-show="from && to">
			<a href="#/app/home/details/{{from}}/{{to}}/{{$index}}" class="item" ng-repeat="route in routes">
				<div class="row">
					<div class="col">
						<span ng-repeat="leg in route[0].legs">
							<i class="icon {{transformIcon(leg.type)}} larger padding-right">
								<span class="small">{{getLine(leg.code)[0].code_short}}</span>
							</i>
							<i class="icon ion-chevron-right larger padding-right" ng-hide="leg == route[0].legs[route[0].legs.length-1]"></i>
						</span>
						<h2>{{route[0].legs[0].locs[0].arrTime.substring(8,10)}}:{{route[0].legs[0].locs[0].arrTime.substring(10,12)}} - {{route[0].legs[route[0].legs.length-1].locs[route[0].legs[route[0].legs.length-1].locs.length-1].arrTime.substring(8,10)}}:{{route[0].legs[route[0].legs.length-1].locs[route[0].legs[route[0].legs.length-1].locs.length-1].arrTime.substring(10,12)}}</h2>
						<p>via {{route.via}}</p>
					</div>
					<h2 class="col-center">{{route[0].duration/60}} min</h2>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>
